    <tr>
        <th class="text-center"><i class="far fa-clock"></i></th>
        <th>Montag bis Freitag</th>
        <th class="text-center"><i class="far fa-clock"></i></th>
        <th>Samstag</th>
    </tr>    
</thead>
<tbody>
    <tr>
        <td class="bold text-center">05</td>
        <td>30, 45</td>
        <td class="bold text-center">05</td>
        <td>30</td>
    </tr>
    <tr>
        <td class="bold text-center">06</td>
        <td>00, 15, 30, 45</td>
        <td class="bold text-center">06</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">07</td>
        <td>00, 15, 30, 45</td>
        <td class="bold text-center">07</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">08</td>
        <td>00, 15, 30</td>
        <td class="bold text-center">08</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">09</td>
        <td>00, 30</td>
        <td class="bold text-center">09</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">10</td>
        <td>00, 30</td>
        <td class="bold text-center">10</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">11</td>
        <td>00, 30, 45</td>
        <td class="bold text-center">11</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">12</td>
        <td>00, 15, 30, 45</td>
        <td class="bold text-center">12</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">13</td>
        <td>00, 15, 30</td>
        <td class="bold text-center">13</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">14</td>
        <td>00, 30</td>
        <td class="bold text-center">14</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">15</td>
        <td>00, 30</td>
        <td class="bold text-center">15</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">16</td>
        <td>00, 15, 30, 45</td>
        <td class="bold text-center">16</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">17</td>
        <td>00, 15, 30, 45</td>
        <td class="bold text-center">17</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">18</td>
        <td>00, 15, 30, 45</td>
        <td class="bold text-center">18</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">19</td>
        <td>00, 30</td>
        <td class="bold text-center">19</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">20</td>
        <td>00, 30</td>
        <td class="bold text-center">20</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">21</td>
        <td>00, 30</td>
        <td class="bold text-center">21</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">22</td>
        <td>00, 30</td>
        <td class="bold text-center">22</td>
        <td>00, 30</td>
    </tr>
    <tr>
        <td class="bold text-center">23</td>
        <td>00, 30</td>
        <td class="bold text-center">23</td>
        <td>00, 30</td>
    </tr>