html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}
  
body {
    background: white;
}

.header {
    background: #ddd;
    padding: 20px;
}

.jumbotron {
    height: calc(100% - 120px);
    background-color: white;
    overflow: auto;
    margin-bottom: 0;
    padding: 50px 20px 100px;
}

.footer {
    padding: 20px;
    background-color: white;
    border-top: 2px solid #ddd;
}