html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    background: white;
}

.header {
    background: #ddd;
    padding: 20px;
}

.jumbotron {
    height: calc(100% - 120px);
    background-color: white;
    overflow: auto;
    margin-bottom: 0;
    padding: 50px 20px 100px;
}

.required {
    border: 1px solid red;
    background: pink;
}

.required-star {
    color: red;
    font-weight: bold;
}

.krank {
    background-color: #ffced6 !important;
}

.ferien {
    background-color: #94ffffaa !important;
}

.footer {
    padding: 20px;
    background-color: white;
    border-top: 2px solid #ddd;
}